#btnClose {
	margin: 0 auto;
	font-size: 80px;
	color: #FFFFFF;
	background-color: #BBFFBB;
	width: 50%;
}

#NowPlayingSongArtwork {
	border-radius: 10px;
	max-width: 600px;
	max-height: 600px;
	width: 600px;
	height: auto;
}

#boxNowPlayingSongArtwork {
	position: absolute;
	margin: auto;
	bottom: 300;
	left: 0;
	right: 0;
	text-align: center;
}

#btnPlayPause {
	font-size: 55px;
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.PlaybackState-Playing {
	background-color: #AAAAAA;
}

.PlaybackState-Paused {
	background-color: #222222;
}

.PlaybackState-Stopped {
	background-color: #220022;
}
