div#btnClose {
	margin: 0 auto;
	font-size: 80px;
	color: #FFFFFF;
	background-color: #BBFFBB;
	width: 50%;
	text-align: center;
}

img#NowPlayingSongArtwork {
	border-radius: 10%;
	max-width: 600px;
	max-height: 600px;
	width: 600px;
	height: auto;
}

div#boxNowPlayingSongArtwork {
	position: absolute;
	margin: auto;
	bottom: 300;
	left: 0;
	right: 0;
	text-align: center;
}

div#boxController {
	position: absolute;
	width: 100%;
	bottom: 50px;
	display: flex;
	justify-content: center;
}

div#boxController > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	height: 200px;
	border-radius: 30%;
}

div#btnSkipToPrevious {
	width: 200px;
	background-color: #880000;
	color: #FFFFFF;
}

div#btnPlayPause {
	width: 300px;
	margin: 0 100px;
}

div#btnSkipToNext {
	width: 200px;
	background-color: #000088;
	color: #FFFFFF;
}

div.PlaybackState-Playing {
	background-color: #AAAAAA;
}

div.PlaybackState-Paused {
	background-color: #222222;
	color: #FFFFFF;
}

div.PlaybackState-Stopped{
	background-color: #220022;
	color: #FFFFFF;
}
